<div class="wow animated fadeIn" data-wow-delay=".15s">
    <a href="{{ project_url }}" class="project card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if project_img -%}
    <img id="{{ project_id }}-img" class="card-img-top" src="{{ project_img }}" alt="{{ project_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ project_id }}-name" class="card-title">
          {%- if project_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
          {%- endif -%}
        {{ project_name }}
      </h5>
      <p id="{{ project_id }}-desc" class="card-text">{{ project_desc }}</p>
      <p id="{{ project_id }}-tools" class="card-text">
        {%- for tool in project_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}

        {%- if project_language %}
        <span class="badge badge-pill text-primary border border-success  ml-1">Language: {{ project_language }}</span>
        {%- endif -%}

        {%- if project_archived %}
        <span class="badge badge-pill text-primary border border-danger  ml-1">Archived</span>
        {%- endif -%}

        {%- if project_fork %}
        <span class="badge badge-pill text-primary border border-warning  ml-1">Fork</span>
        {%- endif -%}
      </p>

      {% if project_type == "remote" %}
      <p id="{{ project_id }}-git-details" class="card-text">
        Stars: {{ stargazers_count }} | Forks: {{ forks_count }} 
      </p>
      {% endif %}
    </div>
  </a>
</div>