<h1>My Games</h1>

<!-- Card Search -->
<div class="row py-2">
  <div class="col-sm-4">
    <input type="search" placeholder="Filter games by title, tag, ect..." name="search" class="form-control searchbox-input text-light" required="">
  </div>
</div>

<!-- Games -->
<div class="card-columns m-3 mt-5">
  {% for game in site.games %}
    {%- assign game_id        = game.name | slugify -%}
    {%- assign game_img       = game.image -%}
    {%- assign game_name      = game.name -%}
    {%- assign game_desc      = game.description -%}
    {%- assign game_tools     = game.tools -%}
    {%- assign game_publisher = game.publisher -%}

    {%- if game.external_url -%}
      {%- assign game_url     = game.external_url -%}
      {%- assign external     = true -%}
    {%- else -%}
      {%- assign game_url     = game.url | relative_url -%}
      {%- assign external     = false -%}
    {%- endif -%}

    {% include games/game-card.html %}
  {% endfor %}
</div>

<script>
$(document).ready(function(){
  $('.searchbox-input').on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>