<h1>My Game Mods</h1>

<!-- Card Search -->
<div class="row py-2">
  <div class="col-sm-4">
    <input type="search" placeholder="Filter mods by title, tag, ect..." name="search" class="form-control searchbox-input text-light" required="">
  </div>
</div>

<!-- Games -->
<div class="card-columns m-3 mt-5">
  {% assign sort_order = 'name', 'last' %}
  {% assign filtered_mods = site.mods | where: 'hidden', false | sort: sort_order %}

  {% for mod in filtered_mods %}
    {%- assign mod_id        = mod.name | slugify -%}
    {%- assign mod_img       = mod.image -%}
    {%- assign mod_name      = mod.name -%}
    {%- assign mod_desc      = mod.description -%}
    {%- assign mod_tools     = mod.tools -%}
    {%- assign mod_game      = mod.game -%}
    {%- assign mod_platforms = mod.platforms -%}

    {%- if mod.external_url -%}
      {%- assign mod_url     = mod.external_url -%}
      {%- assign external     = true -%}
    {%- else -%}
      {%- assign mod_url     = mod.url | relative_url -%}
      {%- assign external     = false -%}
    {%- endif -%}

    {% include mods/mod-card.html %}
  {% endfor %}
</div>

<script>
$(document).ready(function(){
  $('.searchbox-input').on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>