<div class="wow animated fadeIn" data-wow-delay=".15s">
    <a href="{{ mod_url }}" class="project card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if mod_img -%}
    <img id="{{ mod_id }}-img" class="card-img-top" src="{{ mod_img }}" alt="{{ mod_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ mod_id }}-name" class="card-title">{{ mod_name }}</h5>
      <p id="{{ mod_id }}-desc" class="card-text">{{ mod_desc }}</p>
      <p id="{{ mod_id }}-tools-platforms" class="card-text">
        {%- for tool in mod_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}
        {%- for platform in mod_platforms -%}
        <span class="badge badge-pill text-primary border border-info ml-1">Platform: {{ platform }}</span>
        {%- endfor -%}
      </p>

      <p id="{{ mod_id }}-meta-details" class="card-text">
        {%- if mod_publisher -%}
        <span class="badge badge-pill text-primary border border-success ml-1">Publisher: {{ mod_publisher }}</span>
        {%- endif -%}
      </p>
    </div>
  </a>
</div>